<footer class="wrapper-fw bg-h1" id="contact">
  <div class="container grid-split-rows pp">
    <h1>Contact us</h1>
    <div class="max-width-m border-b">
      <script
        charset="utf-8"
        type="text/javascript"
        src="//js.hsforms.net/forms/embed/v2.js"
      ></script>
      <script>
        hbspt.forms.create({
          region: "na1",
          portalId: "39812753",
          formId: "5cf03715-f363-45c5-925f-ed8e2d337450",
        });
      </script>
    </div>
    <div class="footer-links">
      <p>
        Copyright ROOTS <span id="current-year">2023</span>. All rights
        reserved.
      </p>
      <div class="social">
        <a href="/terms-and-conditions">Terms and conditions</a>
        <a href="/privacy-policy">Privacy Policy</a>
        <div class="social">
          <a
            target="_blank"
            class="icon tw"
            href="https://twitter.com/rootstradenolog"
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>
