<link rel="canonical" href="{{CANONICAL_URL}}" />
<meta charset="UTF-8" />
<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-TLW87JK3");
</script>
<!-- End Google Tag Manager -->
<link rel="icon" type="image/png" href="./public/img/logo-new.png" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Preconnect para recursos externos -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preconnect" href="https://js.hsforms.net" />
<link rel="dns-prefetch" href="https://js.hsforms.net" />
<link rel="preconnect" href="https://www.googletagmanager.com" />
<link rel="dns-prefetch" href="https://www.googletagmanager.com" />
<!-- Fuentes con font-display swap para mejor rendimiento -->
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
  rel="stylesheet"
/>
<title>{{PAGE_TITLE}}</title>
<meta name="description" content="{{META_DESCRIPTION}}" />
<meta name="theme-color" content="#0393a4" />
<meta name="color-scheme" content="light" />
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{CANONICAL_URL}}" />
<meta property="og:title" content="{{OG_TITLE}}" />
<meta property="og:description" content="{{OG_DESCRIPTION}}" />
<meta property="og:image" content="https://roots.trade/img/slider-img1.jpg" />
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{CANONICAL_URL}}" />
<meta property="twitter:title" content="{{OG_TITLE}}" />
<meta property="twitter:description" content="{{OG_DESCRIPTION}}" />
<meta
  property="twitter:image"
  content="https://roots.trade/public/img/slider-img1.jpg"
/>
